<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-7">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 cartHeading">Cart has - <%= session.cart ? session.cart.totalQuantity : 0 %> items</h5>
          </div>
          <div class="card-body">
            <%if(!session.cart) { %>
              <a href="/"><button type="button" class="btn btn-primary btn-lg btn-block">
                  Add something to cart
                </button></a>
              <% } else{ session.cart.items.forEach(e=> { %>
                <div class="row">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                      <img src="/img/<%= e.pizzaImg%>" class="w-100" alt="Blue Jeans Jacket" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                    <p><strong>
                        <%= e.pizzaName %>
                      </strong></p>
                    <p class="text-success">Size: <%= e.pizzaSize %>
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                    <div class="d-flex mb-4" style="max-width: 300px">


                      <div class="form-outline">
                        <input id="form1" min="0" name="quantity" value="<%= e.pizzaQty %>" type="number"
                          class="form-control" />
                        <label class="form-label" for="form1">Quantity</label>
                      </div>
                    </div>
                    <p class="text-start text-md-center">
                      <strong>Price: $ <%= e.pizzaQty * e.pizzaprice %> </strong>
                    </p>
                  </div>
                </div>
                <% }) %>
                  <hr class="my-4" />
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">12.10.2020 - 14.10.2020</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
              alt="PayPal acceptance mark" />
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 cartHeading">Summary</h5>
          </div>
          <div class="card-body ">
            <ul class="list-group ">
              <li
                class="list-group-item summaryText d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Subtotal
                <span class="summaryText mr-2">
                  <%=session.cart.totalPrice %>.00
                </span>
              </li>
              <li
                class="list-group-item text-success summaryText d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Delivery Charge
                <span class="summaryText mr-2 text-success">$10.00</span>
              </li>

              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong class="summaryText text-success">Total Amount</strong>
                  <strong>
                    <p class="mb-0 text-info">(including VAT)</p>
                  </strong>
                </div>
                <span><strong class="summaryText text-success font-weight-bold mr-2">
                    <%=session.cart.totalPrice + 10.00%>.00
                  </strong></span>
              </li>
            </ul>
            <form action="/placeorder" method="POST">
              <% if(session.currentUser) { %>

                <input type="text" class="col-md-12 my-2" placeholder="Write your delivery location"
                  onfocus="this.placeholder=''" name="addressToDeliver" value=" <%= session.currentUser.address %>  "
                  required>
                <label class="label"> Select Payment Method </label>
                <select class="form-select" id="paymentType" aria-label="Default select example">
                  <option selected></option>
                  <option value="card">Card</option>
                  <option value="mobileBanking">Mobile Banking</option>
                  <option value="cash">Cash On Delivery(COD)</option>
                </select>
                
                <div class="my-3" id="cardElement">
                  
                  
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Place Order
                </button>
                <% } %>
                  <% if(!session.currentUser){ %>
                    <a href="/login" class="btn btn-primary btn-lg btn-block">
                      Please Login First
                    </a>
                    <% } %>
            </form>

            <%} %>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>